*{
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: 'Open Sans', sans-serif;
}

html, body {
	height:100%;
}


.container{
	width: $smartphoneBreakpoint;
	margin: 0 auto;
}


@media screen and (min-width: $tabletBreakpoint) and (max-width: $desktopBreakpoint){
	.container{
		width: $tabletBreakpoint;
	}

}
@media screen and (min-width: $desktopBreakpoint){
	.container{
		width: 960px;
	}

}


.image-sprites{
	background-image: url('../images/images-sprites.png');
	background-repeat: no-repeat;
}