.section {

	padding-top:60px;
	width: 100%;
	min-height: 100%;
	text-align: center;
	color: #fff;

	.article {
		display: block;
		width: 100%;
		min-height: 300px;
		padding: 20px 0;
	}

	.day-title {
		margin: 20px 0;
	}

	.day-single-image {
		float: left;
		margin-left: 150px;
		margin-right: 30px;
		display: block;
		width: 245px;
		height: 245px;
	}

	.day-subjects {
		text-align: left;
		font-size: 24px;
	}

	&.home {
		background-image: url('../images/vem-pro-front-background.jpg');
		background-repeat: no-repeat;
		background-position: 40% 10%;
		
		.title-home {
			@include text-shadow(0, 8px, 12px, #000);
			font-size: 5.6em;
			color: #fff;
			text-transform: uppercase;
			padding-top: 15%;
		}

		.subtitle-home {
			font-size: 3em;
			color: #1abc9c;
			text-align: right;
			margin-right: 120px;
		}
	}

	&.instructor {
		background-color: #252525;
	
		.image {
			box-shadow: 3px 5px 0 #1abc9c;
			border-radius: 50%;
			margin-bottom: 20px;
		}

		.contacts {
			
			li {
				display: inline-block;
				margin: 0 10px;
			}

		}

		.contacts-images {
			width: 70px;
			height: 70px;
			display: block;
		}

		.facebook{
			background-position: -31px -310px;
		} 

		.linkedin {
			background-position: -113px -310px;
		}

		.mail {
			background-position: -198px -310px;
		}
	}

	&.day1 {
		background-color: #1abc9c;
	
		.subject-container {
		  	
		  	width: 100%;
		    display: -webkit-flex;
		    display: flex;
		    align-items: center;
			justify-content: center;
			

			.subject-item {
				margin: 0 10px;
				text-align: center;
			
				.image {
					width: 245px;
					height: 245px;
					display: block;

					&.column1 {
						background-position: -281px -28px;
					}

					&.column2 {
						background-position: -555px  -28px;
					}

					&.column3 {
						background-position: -832px -28px;
					}
				}
			
			}
		
		}

	}

	&.day2 {
		background-color: #e55126;
		
		.day-single-image {
			background-position: -1378px -27px;
		}
	}

	&.day3 {
		background-color: #0c73b8;
		text-align: center;
		
		.day-single-image  {
			background-position: -1103px -27px;
		}

	}


	&.day4 {
		background-color: #e5a228;
		text-align: center;
		color: #000000;
	
		.day-single-image {
			background-position: -1649px -27px;
		}
	}

	&.participants {
		padding-top: 80px;
		color: #1abc9c;

		.persons {

			li{
				display: inline-block;
				margin: 0 5px;

				figure {
					img {
						border-width: 1px;
						border-style: solid;
						border-color: #1abc9c;
					}
					
					figcaption{
						color: #333333;
					}
				}
			}
		}
	}	

}
